@import "tailwindcss";
@utility flex-center {
    @apply flex flex-row justify-center items-center;
}

html {
  scroll-behavior: smooth;
}
.style-font {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

.titled div, 
.titled span {
  display: inline-block;
}

@utility masked-img {
    mask-image: url('./imgs/masked.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}
